force-app/main/default/flows/Facility_Signs_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Create_Task_Stub_Data</name>
        <label>Create Task Stub Data</label>
        <locationX>508</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>entrancesTaskStub.wkcc__ActionCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Location Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>entrancesTaskStub.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInstantiatingTask.wkcc__Location__r.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>entrancesTaskStub.wkcc__Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInstantiatingTask.wkcc__Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>entrancesTaskStub.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>entrancesTaskStub.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post External Entrance Signs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>entrancesTaskStub.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>elevatorsTaskStub.wkcc__ActionCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Location Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>elevatorsTaskStub.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInstantiatingTask.wkcc__Location__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>elevatorsTaskStub.wkcc__Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInstantiatingTask.wkcc__Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>elevatorsTaskStub.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>elevatorsTaskStub.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post Elevator Signs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>elevatorsTaskStub.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bathroomsTaskStub.wkcc__ActionCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Location Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bathroomsTaskStub.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInstantiatingTask.wkcc__Location__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bathroomsTaskStub.wkcc__Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInstantiatingTask.wkcc__Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bathroomsTaskStub.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bathroomsTaskStub.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post Bathroom Signs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bathroomsTaskStub.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loadListForInsert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>loadListForInsert</name>
        <label>loadListForInsert</label>
        <locationX>641</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>newTasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>bathroomsTaskStub</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>elevatorsTaskStub</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>entrancesTaskStub</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createNewTasks</targetReference>
        </connector>
    </assignments>
    <formulas>
        <description>Today()+7</description>
        <name>newTaskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <interviewLabel>Command Center Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Facility Signs Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createNewTasks</name>
        <label>createNewTasks</label>
        <locationX>642</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>closeInstantiatingTask</targetReference>
        </connector>
        <inputReference>newTasksToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getInstantiatingTask</name>
        <label>getInstantiatingTask</label>
        <locationX>394</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>taskSelectionScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>closeInstantiatingTask</name>
        <label>closeInstantiatingTask</label>
        <locationX>792</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInstantiatingTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>successScreen</name>
        <label>successScreen</label>
        <locationX>1013</locationX>
        <locationY>257</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessageOutput</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The following tasks have been created for {!getInstantiatingTask.wkcc__Location__r.Name}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Post External Entrance Signs&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Post Elevator Signs&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Post Bathroom Signs&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Refresh your command center to see the new tasks in your queue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>successNav</name>
            <extensionName>c:nlib_flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishBtnLabel</name>
                <value>
                    <stringValue>Close</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>taskSelectionScreen</name>
        <label>taskSelectionScreen</label>
        <locationX>404</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Task_Stub_Data</targetReference>
        </connector>
        <fields>
            <name>screenHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Select all that apply to your facility (San Francisco Tower):&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>externalEntrancesBoolean</name>
            <dataType>Boolean</dataType>
            <fieldText>External Entrances</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>externalEntrancesText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Creates a task to place signs at external entrances as well as on the doors themselves. &lt;/span&gt;&lt;a href=&quot;https://about:blank&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11px;&quot;&gt;View procedure.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>elevatorsBoolean</name>
            <dataType>Boolean</dataType>
            <fieldText>Elevators</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>elevatorsText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Creates a task to place signs in every waiting area of every elevator bank as well as in every elevator car. &lt;/span&gt;&lt;a href=&quot;https://about:blank&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11px;&quot;&gt;View procedure.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bathroomsBoolean</name>
            <dataType>Boolean</dataType>
            <fieldText>Bathrooms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>bathroomsText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Creates a task to place a sign outside every bathroom area as well as signs in every bathroom. &lt;/span&gt;&lt;a href=&quot;https://about:blank&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11px;&quot;&gt;View procedure.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowNavigationComponent</name>
            <extensionName>c:nlib_flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishBtnLabel</name>
                <value>
                    <stringValue>Create Tasks</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>18</locationX>
        <locationY>217</locationY>
        <connector>
            <targetReference>getInstantiatingTask</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bathroomsTaskStub</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>elevatorsTaskStub</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>entrancesTaskStub</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>newTasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
