force-app/main/default/flows/Task_After_Update_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setTaskVarsForUpdate</name>
        <label>setTaskVarsForUpdate</label>
        <locationX>173</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>$Record.wkcc__ActionInputVariables__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildActionInputVarJSON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTask</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>buildActionInputVarJSON</name>
        <dataType>String</dataType>
        <expression>&quot;{    &quot;&amp;&apos;&quot;&apos;&amp;&quot;taskId&quot;&amp;&apos;&quot;&apos;&amp;&quot;: &quot;&amp;&apos;&quot;&apos;&amp;{!$Record.Id}&amp;&apos;&quot;&apos;&amp;
&quot;  }&quot;</expression>
    </formulas>
    <interviewLabel>Task After Update Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task After Update Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateTask</name>
        <label>updateTask</label>
        <locationX>328</locationX>
        <locationY>334</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>wkcc__ActionInputVariables__c</field>
            <value>
                <elementReference>buildActionInputVarJSON</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>setTaskVarsForUpdate</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>wkccActionInputVarJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
